name: Sync to TairTas

on:
  push:
    branches:
      - main

jobs:
  git-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sync to TairTas
        uses: wei/git-sync@v3
        with:
          source_repo: "TairTasNis/NotionT"
          source_branch: "main"
          destination_repo: "git@github.com:TairTas/tfgnotiont.git"
          destination_branch: "main"
          ssh_private_key: ${{ secrets.GIT_SYNC_KEY }}
